<li class="flex items-center gap-2 overflow-hidden">
    <?xml version="1.0" ?><svg
        style="enable-background: new 0 0 64 64"
        height="45"
        width="45"
        version="1.1"
        viewBox="0 0 64 64"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
    >
        <style type="text/css">
            .st0 {
                fill: #4267B2;
            }
            .st1 {
                fill: url(#SVGID_1_);
            }
            .st2 {
                fill: #FFFFFF;
            }
            .st3 {
                fill: #C2191E;
            }
            .st4 {
                fill: #1DA1F3;
            }
            .st5 {
                fill: #FEFE00;
            }
            .st6 {
                fill: #25D366;
                stroke: #FFFFFF;
                stroke-width: 5;
                stroke-miterlimit: 10;
            }
            .st7 {
                fill: #CB2027;
            }
            .st8 {
                fill: #0077B5;
            }
            .st9 {
                fill: url(#SVGID_2_);
            }
            .st10 {
                fill: url(#SVGID_3_);
            }
            .st11 {
                fill: #FF004F;
            }
            .st12 {
                fill: #00F7EF;
            }
            .st13 {
                fill: #5181B8;
            }
            .st14 {
                fill: #395976;
            }
            .st15 {
                fill: #F58220;
            }
            .st16 {
                fill: #E6162D;
            }
            .st17 {
                fill: #FF9933;
            }
        </style>
        <g id="guidlines" />
        <g id="FB" /> 
            <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path fill="#1877F2" d="M64,4.045c-33.1,0-59.955,26.855-59.955,59.955C4.045,97.145,30.9,124,64,124
                        c33.1,0,59.955-26.855,59.955-59.955C123.955,30.9,97.1,4.045,64,4.045z M83.69,41.408h-9.155c-3.826,0-4.55,1.821-4.55,4.473
                        v11.32h13.622l-1.424,14.06H69.986v36.043H54.964V71.262H42.849V57.202h12.115v-9.949c0-11.815,7.233-18.259,17.77-18.259
                        c5.018,0,9.337,0.376,10.564,0.541v12.304H77.35C74.95,41.408,73.85,41.408,83.69,41.408z"/>
                </g>
            </svg>
        </g>
        <g id="ig" />
        <g id="yt" />
        <g id="twitter" />
        <g id="snapchat" />
        <g id="WA" />
        <g id="Pinterrest" />
        <g id="Layer_9" />
        <g id="Layer_10" />
        <g id="Layer_11">
        <g id="Layer_12" />
        <g id="Layer_13" />
        <g id="Layer_14" />
        <g id="Layer_15" />
        <g id="Layer_16" />
        <g id="Layer_17" />
    </svg>
    <div class="flex flex-col justify-center">
        <small
            class="text-light-gray-primary dark:text-dark-gray-primary font-medium"
            >My Facebook account:</small
        >
        <a
            class="font-bold text-light-texto-primary dark:text-dark-texto-primary text-[1.1rem] hover:cursor-pointer hover:underline"
            href="https://www.facebook.com/jebsonoreniaubaldo/"
            target="_blank"
            rel="noreferrer"
        >
            @jebsonoreniaubaldo
        </a>
    </div>
</li>
